*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
    background: #0f172a;
    color: white;
}
nav{
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #38bdf8;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
    color: pink;
}
.nav-links a:hover{
    color: white;
}
body::before{
    content: "    ";
    background: linear-gradient(#0f172a 0% 20%,#164255 50% 100%);
    width: 100%;
    height: 75vh;
    position: absolute;
    clip-path: polygon(0 0, 100% 0 ,100% 80%, 50% 100%, 0 80%);
    z-index: -1;
}
